@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Noto+Sans+JP:wght@100&display=swap');

:root {
    --main-background-color: #snow;
    --main-text-color: #726e75;
    --alt-background-color: black;
    --alt-text-color: #aad922;
    --buttons-highlights-color: #f15025;
}

body {
    background-color: var(--main-background-color, white);
    color: var(--main-text-color, gray);
    font-family: 'Noto Sans JP', sans-serif;
}

footer {
    font-size: small;
}

h1 {
    color: var(--alt-text-color, lightgreen);
    font-size: 2em;
}

h2 {
    color: var(--alt-text-color, lightgreen);
    font-size: 1.5em;
}

span {
    color: var(--buttons-highlights-color, orange);
    font-weight: bolder;
}

ul {
    list-style-type: none;
}

/* .accordion-toggle {
    background-color: gray;
    display: block;
    padding: 10px;
    margin: -10px -15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.accordion-toggle.collapsed {
    background-color: var(--main-background-color);
} */

#project-accordion {
    background-color: var(--main-background-color, white);
    color: var(--main-text-color, gray);
}

.accordion-button:not(.collapsed) {
    background-color: var(--main-text-color, gray);
}

.card {
    background-color: var(--alt-text-color, lightgreen);
    color: var(--main-text-color, gray);
    border: 1px solid var(--alt-text-color, lightgreen);
    margin: 10px;
    padding: 10px;
}

.card-img-top {
    border-radius: 50%;
}

.btn-primary:link  {
    background-color: var(--buttons-highlights-color, orange);
    color: var(--main-background-color, white);
    font-weight: bolder;
    border: 1px solid var(--buttons-highlights-color, orange);
}

.btn-primary:visited {
    background-color: var(--buttons-highlights-color, orange);
    color: var(--main-background-color, white);
    font-weight: bolder;
    border: 1px solid var(--buttons-highlights-color, orange);
}