@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Noto+Sans+JP:wght@100&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 5% 15%;
}

#page1 {
    padding: 10% 15%;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h6 {
    font-weight: bold;
}

mark {
    font-weight: bold;
    border-radius: 25%;
}

span {
    font-weight: bolder;
}

ul {
    list-style-type: none;
    font-weight: bold;
}

#wordcloud {
    font-size: 0.6em;
    font-style: italic;
}

.card {
    margin: 10px;
    padding: 15px;
    min-height: 430px;
    /* width: 18rem !important; this sets the size of the card, currently automatically the width of the table box area, important means that it overrides other css*/
}

.card-img-top {
    /* margin & border-radius here is important to counter-act the img css styling below */
    margin: 0%; 
    border-radius: 50%;
    max-width: 200px;
}

.btn-primary:link  {
    font-weight: bolder;
}

.btn-primary:visited {
    font-weight: bolder;;
}

.btn-info:link  {
    font-weight: bolder;
}

.btn-info:visited {
    font-weight: bolder;
}

img {
    border-radius: 5%;
}

.btn {
    margin: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

:any-link {
    text-decoration: none;
}

@media screen and (max-width: 1900px) {
    body {
        padding: 3% 10%;
    }

#page1 {
        padding: 3% 10%;
    }
}

#condensed {
    display: None !important;
}

/* must come last on the page to overwrite bootstrap */
@media screen and (max-width: 450px) {
    body {
        padding: 3px 3px;
    }

    /* overrides the above larger screen setting */
    #page1 {
        padding: 3px 3px;
    }

    .show-more-less #more {display: none;} /* hides the more text */
    .show-more-less #myBtn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        text-decoration: none; /* gets rid of the underline */
    }
    .show-more-less #myBtn:focus {
        outline: none;
    }

    #myBtn {
        color: #4a5240;
    }

    #bullets {
        display: None !important;
    }

    #condensed {
        display: block !important;
    }
}
