/* DARK THEME COLOUR SCHEME */

:root {
    --main-background-color: #18070a;
    --main-text-color: white;
    --alt-background-color: #4a5240;
    --alt-text-color: #f15125f6;
    --buttons-highlights-color: #aad922;
}

#myBtn {
    color: var(--main-background-color, black);
    /* display: none; # hides button regardless of screen size, so I have to use colour instead */
}

body {
    background: linear-gradient(180deg, #18070a 50%,  #433538 100%);
    /* background-color: var(--main-background-color, black); */
    color: var(--main-text-color, white);
}

h1 {
    color: var(--alt-text-color, orange);
}

h2 {
    color: var(--alt-text-color, orange);
}

h6 {
    color: var(--alt-text-color, orange);
}

span {
    color: var(--buttons-highlights-color, lightgreen);
}

mark {
    background-color: #f151253a;
    color: var(--main-text-color);
}

.accordion-item {
    background-color: var(--main-background-color, black);
    color: var(--main-text-color, white);
}

.accordion-button:not(.collapsed) {
    background-color: var(--main-background-color, black);
}

.accordion-button {
    background-color: var(--alt-background-color, grey);
}

.card {
    background: linear-gradient(45deg, #f15025 50%, #aad922 100%);
    color: var(--main-text-color, white);
    font-weight: bolder;
    border: 1px solid var(--main-background-color, black);
}

.btn-primary:link  {
    background: linear-gradient(0deg, #658115 40%, #aad922 100%);
    color: var(--main-background-color, black);
    border: 0px;
}

.btn-primary:visited {
    background: linear-gradient(0deg, #658115 40%, #aad922 100%);
    color: var(--main-background-color, black);
    border: 0px;
}

.btn-info:link  {
    background-color: var(--alt-text-color, orange);
    color: var(--main-background-color, black);
    border: 1px solid var(--alt-text-color, orange);
}

.btn-info:visited {
    background-color: var(--alt-text-color, orange);
    color: var(--main-background-color, black);
    border: 1px solid var(--alt-text-color, orange);
}

#themeButton, .submit {
    background: linear-gradient(90deg, var(--alt-text-color, orange) 40%, white 100%);
    border-color: var(--alt-text-color, orange);
    color: var(--main-text-color, white);
}

.slider {

    background-color: var(--alt-text-color, orange);
  }
  
  .slider:before {
    background-color: var(--main-text-color, gray);
  }
  
  input:checked + .slider {
    background-color: var(--alt-text-color, orange);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--alt-text-color, orange);
  }
