@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Noto+Sans+JP:wght@100&display=swap');

:root {
    --main-background-color: white;
    --main-text-color: #4a5240;
    --alt-background-color: #5f464b;
    --alt-text-color: #aad922;
    --buttons-highlights-color: #f15025;
}

body {
    background-color: var(--main-background-color, white);
    color: var(--main-text-color, gray);
    font-family: 'Noto Sans JP', sans-serif;
}

footer {
    font-size: small;
}

h1 {
    color: var(--alt-text-color, lightgreen);
    font-size: 2em;
}

h2 {
    color: var(--alt-text-color, lightgreen);
    font-size: 1.5em;
}

h6 {
    color: var(--alt-text-color, lightgreen);
    font-weight: bold;
}

mark {
    background-color: var(--alt-text-color, lightgreen);
    color: var(--main-background-color, white);
    font-weight: bold;
    border-radius: 25%;
}

span {
    color: var(--buttons-highlights-color, orange);
    font-weight: bolder;
}

ul {
    list-style-type: none;
}

.accordion-item {
    background-color: var(--main-background-color, black);
    color: var(--main-text-color, gray);
}

.accordion-button:not(.collapsed) {
    background-color: var(--alt-background-color, black);
}

.accordion-button {
    background-color: var(--main-background-color, white);
}

.card {
    background-color: var(--alt-text-color, lightgreen);
    color: var(--main-text-color, gray);
    border: 1px solid var(--alt-text-color, lightgreen);
    margin: 10px;
    padding: 10px;
}

.card-img-top {
    /* margin & border-radius here is important to counter-act the img css styling below */
    margin: 0%; 
    border-radius: 50%;
}

.btn-primary:link  {
    background-color: var(--buttons-highlights-color, orange);
    color: var(--main-background-color, white);
    font-weight: bolder;
    border: 1px solid var(--buttons-highlights-color, orange);
}

.btn-primary:visited {
    background-color: var(--buttons-highlights-color, orange);
    color: var(--main-background-color, white);
    font-weight: bolder;
    border: 1px solid var(--buttons-highlights-color, orange);
}

.btn-info:link  {
    background-color: var(--alt-text-color, green);
    color: var(--main-background-color, white);
    font-weight: bolder;
    border: 1px solid var(--alt-text-color, green);
}

.btn-info:visited {
    background-color: var(--alt-text-color, green);
    color: var(--main-background-color, white);
    font-weight: bolder;
    border: 1px solid var(--alt-text-color, green);
}

img {
    border-radius: 5%;
}

.btn {
    margin: 10px;
}

#themeButton, .submit {
    background-color: var(--alt-text-color, orange);
    border-color: var(--alt-text-color, orange);
    color: var(--main-text-color, white);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--alt-text-color, orange);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--main-text-color, gray);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--alt-text-color, orange);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--alt-text-color, orange);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
