/* DARK THEME COLOUR SCHEME */

:root {
    --main-background-color: #18070a;
    --main-text-color: white;
    --alt-background-color: #4a5240;
    --alt-text-color: #f15025;
    --buttons-highlights-color: #aad922;
}

#myBtn {
    color: var(--main-background-color, black);
    /* display: none; # hides button regardless of screen size, so I have to use colour instead */
}

body {
    background-color: var(--main-background-color, black);
    color: var(--main-text-color, white);
}

h1 {
    color: var(--alt-text-color, orange);
}

h2 {
    color: var(--alt-text-color, orange);
}

h6 {
    color: var(--alt-text-color, orange);
}

span {
    color: var(--buttons-highlights-color, lightgreen);
}

mark {
    background-color: var(--alt-text-color, orange);
    color: var(--main-background-color, black);
}

.accordion-item {
    background-color: var(--main-background-color, black);
    color: var(--main-text-color, white);
}

.accordion-button:not(.collapsed) {
    background-color: var(--main-background-color, black);
}

.accordion-button {
    background-color: var(--alt-background-color, grey);
}

.card {
    background-color: var(--alt-text-color, orange);
    color: var(--main-text-color, white);
    border: 1px solid var(--alt-text-color, orange);
}

.btn-primary:link  {
    /* background-color: linear-gradient(to right, var(--buttons-highlights-color, lightgreen), var(--alt-text-color, orange)); */
    background-color: var(--buttons-highlights-color, lightgreen);
    color: var(--main-background-color, black);
    border: 1px solid var(--buttons-highlights-color, lightgreen);
}

.btn-primary:visited {
    background-color: var(--buttons-highlights-color, lightgreen);
    color: var(--main-background-color, black);
    border: 1px solid var(--buttons-highlights-color, lightgreen);
}

.btn-info:link  {
    background-color: var(--alt-text-color, orange);
    color: var(--main-background-color, black);
    border: 1px solid var(--alt-text-color, orange);
}

.btn-info:visited {
    background-color: var(--alt-text-color, orange);
    color: var(--main-background-color, black);
    border: 1px solid var(--alt-text-color, orange);
}

#themeButton, .submit {
    background-color: var(--alt-text-color, orange);
    border-color: var(--alt-text-color, orange);
    color: var(--main-text-color, white);
}

.slider {

    background-color: var(--alt-text-color, orange);
  }
  
  .slider:before {
    background-color: var(--main-text-color, gray);
  }
  
  input:checked + .slider {
    background-color: var(--alt-text-color, orange);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--alt-text-color, orange);
  }
